
.main-config{
    margin-top: 58px;
}

.table-config{
    margin-top: 18px;
}

.table-config .thead-dark{
    padding:30px !important;
    color: #fff;
   background-color: #1C2938;
}


th{
    font-family: 'lato-regular';
}

.section-add-search{
    display: flex;
    justify-content: space-between;
}

.section-buscar{
    display: flex;
}

.section-button-buscar{
    display: flex;
    align-items: center;
}

.section-input{
    display: flex;
    align-items: center;
}

