<app-nav> </app-nav>




<div class="container main-config">

    <div>
        <button class="btn btn-agregar" [routerLink]="['add-alimentos']">Agregar</button>
    </div>


    <table class="table table-config">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Desayuno</th>
                <th scope="col">Comida</th>
                <th scope="col">Cena</th>
                <th scope="col">Merienda</th>
                <th scope="col">Comida Extra</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of alimentos | paginate: { itemsPerPage: itemByPage, currentPage: pageActual , totalItems: totalRegistros }">
                <td>{{item.Desayuno}}</td>
                <td>{{item.Comida}}</td>
                <td>{{item.Cena}}</td>
                <td>{{item.Merienda}} </td>
                <td>{{item.ComidaExtra}} </td>
                <td>{{item.FechaCreacion | date}} </td>
                <td>
                    <button class="btn btn-success" [routerLink]="['edit-alimentos', item?.Id]">Editar</button>    
                    <button 
                    [swal]="{title: '¿Realmente quieres eliminar este registro?'}"
                    class="btn btn-danger" 
                    (confirm)="delete(item.Id)" >
                    Eliminar</button>    
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event" (pageChange)="pageChanged($event)"></pagination-controls>
</div>