<app-nav> </app-nav>


<div class="container">

    <h4 class="header-title mb-3">Editar perfil</h4>


    <div class="section-edit">

        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>Usuario</a>
                <ng-template ngbNavContent>


                    <div class="section-sub-edit">
                        <form [formGroup]="userForm">
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <label for="">Usuario</label>
                                        <input type="text" class="form-control" formControlName="UserName">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12 btn-guardar">
                                <button [disabled]="!userForm.valid" class="btn btn-generico"
                                    (click)="actualizarUsername()">Editar</button>
                            </div>
                        </div>
                    </div>



                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>Cambiar contraseña</a>
                <ng-template ngbNavContent>




                    <div class="section-sub-edit">
                        <form [formGroup]="passWordForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group  mb-3">
                                        <label for="">Contraseña actual</label>
                                        <input type="password" class="form-control" formControlName="PassWordActual">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group  mb-3">
                                        <label for="">Nueva contraseña</label>
                                        <input type="password" class="form-control" formControlName="PassWord">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group  mb-3">
                                        <label for="">Confirmar contraseña</label>
                                        <input type="password" class="form-control" formControlName="PassWordConfirm">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12 btn-guardar">
                                <button [disabled]="!passWordForm.valid" class="btn btn-generico" (click)="actualizarPassword()">Editar</button>
                            </div>
                        </div>
                    </div>


                </ng-template>
            </ng-container>
        </nav>

    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>